---
all:
  children:
    sonarqube:
      hosts:
        # SonarQube Server via Tailscale MagicDNS
        test-sonarqube:
          ansible_host: "vf-sonarqube"  # Tailscale hostname
          ansible_user: root
          ansible_ssh_private_key_file: ~/.ssh/id_ed25519

        # On-Premise via Tailscale
        # sonar-onprem:
        #   ansible_host: "nombre-servidor"  # Tailscale hostname
        #   ansible_user: c0305
        #   ansible_ssh_private_key_file: ~/.ssh/id_ed25519

      vars:
        # PostgreSQL
        sonarqube_db_name: sonarqube
        sonarqube_db_user: sonaruser
        sonarqube_db_password: "{{ lookup('env', 'SONARQUBE_DB_PASSWORD') | default('ChangeMeNow!2024', true) }}"

        # SonarQube
        sonarqube_version: "25.2.0.102705"
        sonarqube_port: 9000

        # SonarScanner
        sonarscanner_version: "7.0.1.4817"
