---
- name: Install OpenJDK 17
  ansible.builtin.apt:
    name: openjdk-17-jdk
    state: present

- name: Verify Java installation
  ansible.builtin.command: java -version
  register: java_version
  changed_when: false

- name: Display Java version
  ansible.builtin.debug:
    msg: "{{ java_version.stderr_lines }}"
