---
- name: Reload Caddy
  ansible.builtin.systemd:
    name: caddy
    state: reloaded

- name: Restart Caddy
  ansible.builtin.systemd:
    name: caddy
    state: restarted

- name: Restart cloudflared
  ansible.builtin.systemd:
    name: cloudflared
    state: restarted
    daemon_reload: true
